<!doctype html>
<html lang="ru">

  <head>
    <title>Вход администратора задач</title>
    <meta charset="utf-8">
    <meta name="description" content="Тестовое задание для BeeJee">
    <meta name="author" content="Виноходов Владислав">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="../assets/css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" method="post" action="/?path=edit">
      <h1 class="h3 mb-3 font-weight-normal">Вход администратора</h1>
      <label for="inputLogin" class="sr-only">Логин</label>
      <input type="text" id="inputLogin" name="login" class="form-control" placeholder="Логин" required autofocus>
      <label for="inputPassword" class="sr-only">Пароль</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Пароль" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2020 год</p>
    </form>
  </body>
  
</html>